## Preprocessing

In [31]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [32]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
first_application_df= application_df.drop(columns = ['EIN', 'NAME', 'USE_CASE', 'SPECIAL_CONSIDERATIONS'])
first_application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,1,0,5000,1
1,T3,Independent,C2000,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Trust,1,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,Association,1,0,5000,0
34295,T4,CompanySponsored,C3000,Association,1,0,5000,0
34296,T3,CompanySponsored,C2000,Association,1,0,5000,0
34297,T5,Independent,C3000,Association,1,0,5000,1
34298,T3,Independent,C1000,Co-operative,1,1M-5M,36500179,0

In [33]:
# Determine the number of unique values in each column.
first_application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [34]:
# Look at APPLICATION_TYPE value counts for binning
type_counts=  first_application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [35]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_counts.iloc[8:].index)
cutoff_value = 1000
# Replace in dataframe
for app in application_types_to_replace:
    first_application_df['APPLICATION_TYPE'] = first_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
first_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [36]:
# Look at INCOME_AMT value counts for binning
Income_types = first_application_df['INCOME_AMT'].value_counts()
Income_types

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [37]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
incomes_to_replace = list(Income_types.iloc[5:].index)
cutoff_value_classifications = 1883

# Replace in dataframe
for cls in incomes_to_replace:
    first_application_df['INCOME_AMT'] = first_application_df['INCOME_AMT'].replace(cls,"Other")
    
# Check to make sure binning was successful
first_application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
Other             1107
1M-5M              955
1-9999             728
Name: INCOME_AMT, dtype: int64

In [38]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(first_application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_100000-499999,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_Other
0,1,5000,1,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0

In [39]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [40]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [41]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 50
hidden_nodes_layer2 = 80

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 50)                4950

 dense_4 (Dense)             (None, 80)                4080

 dense_5 (Dense)             (None, 1)                 81

=================================================================
Total params: 9111 (35.59 KB)
Trainable params: 9111 (35.59 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.5771 - accuracy: 0.7130
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5574 - accuracy: 0.7254
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5545 - accuracy: 0.7276
Epoch 4/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5528 - accuracy: 0.7284
Epoch 5/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5519 - accuracy: 0.7290
Epoch 6/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5505 - accuracy: 0.7304
Epoch 7/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5493 - accuracy: 0.7300
Epoch 8/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5485 - accuracy: 0.7313
Epoch 9/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5480 - accuracy: 0.7307
Epoch 10/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5476 - accuracy: 0.7298
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5474 - accuracy: 0.7319
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5464 - accuracy: 0.7324
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5458 - accuracy: 0.7330
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5454 - accuracy: 0.7321
Epoch 15/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5451 - accuracy: 0.7345
Epoch 16/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5442 - accuracy: 0.7327
Epoch 17/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5440 - accuracy: 0.7336
Epoch 18/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 19/100
804/804 [==============================] - 15s 19ms/step - loss: 0.5437 - accuracy: 0.7343
Epoch 20/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5433 - accuracy: 0.7345
Epoch 21/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5428 - accuracy: 0.7333
Epoch 22/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5428 - accuracy: 0.7347
Epoch 23/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5424 - accuracy: 0.7336
Epoch 24/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5425 - accuracy: 0.7350
Epoch 25/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5425 - accuracy: 0.7358
Epoch 26/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 27/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5418 - accuracy: 0.7348
Epoch 28/100
804/804 [==============================] - 10s 13ms/step - loss: 0.5415 - accuracy: 0.7358
Epoch 29/100
804/804 [==============================] - 12s 14ms/step - loss: 0.5411 - accuracy: 0.7370
Epoch 30/100
804/804 [==============================] - 11s 13ms/step - loss: 0.5415 - accuracy: 0.7357
Epoch 31/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 32/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5406 - accuracy: 0.7363
Epoch 33/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5404 - accuracy: 0.7359
Epoch 34/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5405 - accuracy: 0.7356
Epoch 35/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5403 - accuracy: 0.7356
Epoch 36/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5399 - accuracy: 0.7362
Epoch 37/100
804/804 [==============================] - 12s 16ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 38/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5393 - accuracy: 0.7370
Epoch 39/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5399 - accuracy: 0.7365
Epoch 40/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5395 - accuracy: 0.7361
Epoch 41/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5388 - accuracy: 0.7358
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7372
Epoch 43/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5391 - accuracy: 0.7369
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5390 - accuracy: 0.7353
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5388 - accuracy: 0.7367
Epoch 46/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5390 - accuracy: 0.7368
Epoch 47/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5381 - accuracy: 0.7372
Epoch 48/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5386 - accuracy: 0.7376
Epoch 49/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5382 - accuracy: 0.7370
Epoch 50/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5384 - accuracy: 0.7364
Epoch 51/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5385 - accuracy: 0.7357
Epoch 52/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5384 - accuracy: 0.7366
Epoch 53/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5379 - accuracy: 0.7374
Epoch 54/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5380 - accuracy: 0.7384
Epoch 55/100
804/804 [==============================] - 16s 20ms/step - loss: 0.5378 - accuracy: 0.7367
Epoch 56/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5379 - accuracy: 0.7373
Epoch 57/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5378 - accuracy: 0.7367
Epoch 58/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5376 - accuracy: 0.7371
Epoch 59/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5378 - accuracy: 0.7372
Epoch 60/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5376 - accuracy: 0.7375
Epoch 61/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5372 - accuracy: 0.7374
Epoch 62/100
804/804 [==============================] - 10s 13ms/step - loss: 0.5371 - accuracy: 0.7373
Epoch 63/100
804/804 [==============================] - 16s 20ms/step - loss: 0.5373 - accuracy: 0.7372
Epoch 64/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 65/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5368 - accuracy: 0.7381
Epoch 66/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5370 - accuracy: 0.7379
Epoch 67/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5365 - accuracy: 0.7379
Epoch 68/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5369 - accuracy: 0.7371
Epoch 69/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5368 - accuracy: 0.7381
Epoch 70/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5365 - accuracy: 0.7377
Epoch 71/100
804/804 [==============================] - 15s 19ms/step - loss: 0.5368 - accuracy: 0.7383
Epoch 72/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5369 - accuracy: 0.7377
Epoch 73/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5366 - accuracy: 0.7385
Epoch 74/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5367 - accuracy: 0.7376
Epoch 75/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5365 - accuracy: 0.7376
Epoch 76/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5361 - accuracy: 0.7374
Epoch 77/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5359 - accuracy: 0.7379
Epoch 78/100
804/804 [==============================] - 9s 11ms/step - loss: 0.5361 - accuracy: 0.7385
Epoch 79/100
804/804 [==============================] - 17s 21ms/step - loss: 0.5358 - accuracy: 0.7380
Epoch 80/100
804/804 [==============================] - 8s 10ms/step - loss: 0.5359 - accuracy: 0.7383
Epoch 81/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5357 - accuracy: 0.7379
Epoch 82/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5359 - accuracy: 0.7383
Epoch 83/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5359 - accuracy: 0.7381
Epoch 84/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5365 - accuracy: 0.7378
Epoch 85/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5352 - accuracy: 0.7384
Epoch 86/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5359 - accuracy: 0.7382
Epoch 87/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5354 - accuracy: 0.7376
Epoch 88/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5361 - accuracy: 0.7377
Epoch 89/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5355 - accuracy: 0.7380
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7376
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5356 - accuracy: 0.7379
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5354 - accuracy: 0.7384
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7382
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7388
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7380
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7386
Epoch 97/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5354 - accuracy: 0.7378
Epoch 98/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5356 - accuracy: 0.7382
Epoch 99/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5356 - accuracy: 0.7383
Epoch 100/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5350 - accuracy: 0.7383

In [45]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5647 - accuracy: 0.7305 - 340ms/epoch - 1ms/step
Loss: 0.5646555423736572, Accuracy: 0.7304956316947937

In [51]:
# Drop the non-beneficial ID columns
cleaned_application_df= application_df.drop(columns = ['EIN', 'NAME', 'ASK_AMT', 'USE_CASE', 'SPECIAL_CONSIDERATIONS'])
cleaned_application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,1,0,1
1,T3,Independent,C2000,Co-operative,1,1-9999,1
2,T5,CompanySponsored,C3000,Association,1,0,0
3,T3,CompanySponsored,C2000,Trust,1,10000-24999,1
4,T3,Independent,C1000,Trust,1,100000-499999,1
...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,Association,1,0,0
34295,T4,CompanySponsored,C3000,Association,1,0,0
34296,T3,CompanySponsored,C2000,Association,1,0,0
34297,T5,Independent,C3000,Association,1,0,1
34298,T3,Independent,C1000,Co-operative,1,1M-5M,0

In [52]:
cleaned_application_df.nunique()

APPLICATION_TYPE    17
AFFILIATION          6
CLASSIFICATION      71
ORGANIZATION         4
STATUS               2
INCOME_AMT           9
IS_SUCCESSFUL        2
dtype: int64

In [53]:
# Look at APPLICATION_TYPE value counts for binning
type_counts=  cleaned_application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [54]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace_two = list(type_counts.iloc[8:].index)
cutoff_value = 2000
# Replace in dataframe
for app in application_types_to_replace:
    cleaned_application_df['APPLICATION_TYPE'] = cleaned_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
cleaned_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [55]:
# Look at CLASSIFICATION value counts for binning
classification_types = first_application_df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [56]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_to_replace = list(classification_types.iloc[5:].index)
cutoff_classifications = 25000

# Replace in dataframe
for cls in classification_to_replace:
    cleaned_application_df['CLASSIFICATION'] = cleaned_application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
cleaned_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [57]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(cleaned_application_df)
dummies.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [58]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [59]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [60]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 500
hidden_nodes_layer2 = 800

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 500)               18000

 dense_7 (Dense)             (None, 800)               400800

 dense_8 (Dense)             (None, 1)                 801

=================================================================
Total params: 419601 (1.60 MB)
Trainable params: 419601 (1.60 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [61]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [62]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=180)

Epoch 1/180
804/804 [==============================] - 8s 8ms/step - loss: 0.5743 - accuracy: 0.7196
Epoch 2/180
804/804 [==============================] - 7s 9ms/step - loss: 0.5604 - accuracy: 0.7272
Epoch 3/180
804/804 [==============================] - 5s 6ms/step - loss: 0.5586 - accuracy: 0.7274
Epoch 4/180
804/804 [==============================] - 6s 7ms/step - loss: 0.5574 - accuracy: 0.7303
Epoch 5/180
804/804 [==============================] - 7s 8ms/step - loss: 0.5561 - accuracy: 0.7288
Epoch 6/180
804/804 [==============================] - 6s 8ms/step - loss: 0.5553 - accuracy: 0.7289
Epoch 7/180
804/804 [==============================] - 6s 8ms/step - loss: 0.5556 - accuracy: 0.7298
Epoch 8/180
804/804 [==============================] - 7s 8ms/step - loss: 0.5541 - accuracy: 0.7286
Epoch 9/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5538 - accuracy: 0.7299
Epoch 10/180
804/804 [==============================] - 8s 9ms/step - loss: 0.5536 - accuracy: 0.7301
Epoch 11/180
804/804 [==============================] - 7s 8ms/step - loss: 0.5528 - accuracy: 0.7306
Epoch 12/180
804/804 [==============================] - 6s 8ms/step - loss: 0.5528 - accuracy: 0.7301
Epoch 13/180
804/804 [==============================] - 7s 9ms/step - loss: 0.5521 - accuracy: 0.7317
Epoch 14/180
804/804 [==============================] - 8s 9ms/step - loss: 0.5519 - accuracy: 0.7308
Epoch 15/180
804/804 [==============================] - 7s 9ms/step - loss: 0.5510 - accuracy: 0.7313
Epoch 16/180
804/804 [==============================] - 7s 9ms/step - loss: 0.5507 - accuracy: 0.7315
Epoch 17/180
804/804 [==============================] - 6s 8ms/step - loss: 0.5511 - accuracy: 0.7319
Epoch 18/180
804/804 [==============================] - 8s 9ms/step - loss: 0.5507 - accuracy: 0.7313
Epoch 19/180
804/804 [==============================] - 8s 9ms/step - loss: 0.5502 - accuracy: 0.7318
Epoch 20/180
804/804 [==============================] - 7s 9ms/step - loss: 0.5499 - accuracy: 0.7329
Epoch 21/180
804/804 [==============================] - 7s 9ms/step - loss: 0.5499 - accuracy: 0.7322
Epoch 22/180
804/804 [==============================] - 6s 7ms/step - loss: 0.5493 - accuracy: 0.7325
Epoch 23/180
804/804 [==============================] - 6s 7ms/step - loss: 0.5493 - accuracy: 0.7328
Epoch 24/180
804/804 [==============================] - 8s 11ms/step - loss: 0.5489 - accuracy: 0.7330
Epoch 25/180
804/804 [==============================] - 9s 12ms/step - loss: 0.5481 - accuracy: 0.7318
Epoch 26/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5481 - accuracy: 0.7333
Epoch 27/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5484 - accuracy: 0.7322
Epoch 28/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5480 - accuracy: 0.7325
Epoch 29/180
804/804 [==============================] - 8s 9ms/step - loss: 0.5478 - accuracy: 0.7330
Epoch 30/180
804/804 [==============================] - 7s 9ms/step - loss: 0.5476 - accuracy: 0.7333
Epoch 31/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5475 - accuracy: 0.7329
Epoch 32/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5472 - accuracy: 0.7338
Epoch 33/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5472 - accuracy: 0.7329
Epoch 34/180
804/804 [==============================] - 9s 12ms/step - loss: 0.5467 - accuracy: 0.7339
Epoch 35/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5474 - accuracy: 0.7331
Epoch 36/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5467 - accuracy: 0.7336
Epoch 37/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5468 - accuracy: 0.7335
Epoch 38/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5462 - accuracy: 0.7334
Epoch 39/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5466 - accuracy: 0.7332
Epoch 40/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5457 - accuracy: 0.7341
Epoch 41/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5465 - accuracy: 0.7338
Epoch 42/180
804/804 [==============================] - 7s 9ms/step - loss: 0.5462 - accuracy: 0.7339
Epoch 43/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5462 - accuracy: 0.7343
Epoch 44/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5456 - accuracy: 0.7336
Epoch 45/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5460 - accuracy: 0.7340
Epoch 46/180
804/804 [==============================] - 10s 13ms/step - loss: 0.5460 - accuracy: 0.7342
Epoch 47/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5455 - accuracy: 0.7339
Epoch 48/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5455 - accuracy: 0.7343
Epoch 49/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5456 - accuracy: 0.7334
Epoch 50/180
804/804 [==============================] - 9s 12ms/step - loss: 0.5457 - accuracy: 0.7340
Epoch 51/180
804/804 [==============================] - 10s 13ms/step - loss: 0.5448 - accuracy: 0.7340
Epoch 52/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5447 - accuracy: 0.7345
Epoch 53/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5451 - accuracy: 0.7345
Epoch 54/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5454 - accuracy: 0.7336
Epoch 55/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5450 - accuracy: 0.7342
Epoch 56/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5455 - accuracy: 0.7342
Epoch 57/180
804/804 [==============================] - 10s 13ms/step - loss: 0.5439 - accuracy: 0.7338
Epoch 58/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5449 - accuracy: 0.7343
Epoch 59/180
804/804 [==============================] - 10s 13ms/step - loss: 0.5449 - accuracy: 0.7346
Epoch 60/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5447 - accuracy: 0.7350
Epoch 61/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5444 - accuracy: 0.7348
Epoch 62/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5446 - accuracy: 0.7344
Epoch 63/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5450 - accuracy: 0.7340
Epoch 64/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5478 - accuracy: 0.7341
Epoch 65/180
804/804 [==============================] - 10s 13ms/step - loss: 0.5451 - accuracy: 0.7345
Epoch 66/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5452 - accuracy: 0.7341
Epoch 67/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5444 - accuracy: 0.7338
Epoch 68/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5440 - accuracy: 0.7349
Epoch 69/180
804/804 [==============================] - 9s 12ms/step - loss: 0.5444 - accuracy: 0.7342
Epoch 70/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5446 - accuracy: 0.7341
Epoch 71/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5440 - accuracy: 0.7345
Epoch 72/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5437 - accuracy: 0.7338
Epoch 73/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 74/180
804/804 [==============================] - 9s 12ms/step - loss: 0.5439 - accuracy: 0.7347
Epoch 75/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5445 - accuracy: 0.7342
Epoch 76/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5438 - accuracy: 0.7344
Epoch 77/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5435 - accuracy: 0.7347
Epoch 78/180
804/804 [==============================] - 9s 12ms/step - loss: 0.5439 - accuracy: 0.7348
Epoch 79/180
804/804 [==============================] - 8s 10ms/step - loss: 0.5436 - accuracy: 0.7341
Epoch 80/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5439 - accuracy: 0.7343
Epoch 81/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5437 - accuracy: 0.7343
Epoch 82/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5447 - accuracy: 0.7346
Epoch 83/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5438 - accuracy: 0.7345
Epoch 84/180
804/804 [==============================] - 9s 12ms/step - loss: 0.5441 - accuracy: 0.7343
Epoch 85/180
804/804 [==============================] - 10s 13ms/step - loss: 0.5438 - accuracy: 0.7343
Epoch 86/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5440 - accuracy: 0.7348
Epoch 87/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5438 - accuracy: 0.7350
Epoch 88/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5432 - accuracy: 0.7349
Epoch 89/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5457 - accuracy: 0.7346
Epoch 90/180
804/804 [==============================] - 10s 13ms/step - loss: 0.5441 - accuracy: 0.7351
Epoch 91/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5442 - accuracy: 0.7350
Epoch 92/180
804/804 [==============================] - 10s 13ms/step - loss: 0.5435 - accuracy: 0.7346
Epoch 93/180
804/804 [==============================] - 12s 14ms/step - loss: 0.5435 - accuracy: 0.7352
Epoch 94/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5434 - accuracy: 0.7346
Epoch 95/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5434 - accuracy: 0.7350
Epoch 96/180
804/804 [==============================] - 12s 14ms/step - loss: 0.5436 - accuracy: 0.7347
Epoch 97/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5435 - accuracy: 0.7352
Epoch 98/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5433 - accuracy: 0.7347
Epoch 99/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5435 - accuracy: 0.7341
Epoch 100/180
804/804 [==============================] - 9s 11ms/step - loss: 0.5429 - accuracy: 0.7348
Epoch 101/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5435 - accuracy: 0.7350
Epoch 102/180
804/804 [==============================] - 15s 19ms/step - loss: 0.5437 - accuracy: 0.7346
Epoch 103/180
804/804 [==============================] - 17s 22ms/step - loss: 0.5428 - accuracy: 0.7348
Epoch 104/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5431 - accuracy: 0.7346
Epoch 105/180
804/804 [==============================] - 15s 19ms/step - loss: 0.5432 - accuracy: 0.7346
Epoch 106/180
804/804 [==============================] - 13s 16ms/step - loss: 0.5432 - accuracy: 0.7345
Epoch 107/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5442 - accuracy: 0.7346
Epoch 108/180
804/804 [==============================] - 13s 16ms/step - loss: 0.5444 - accuracy: 0.7349
Epoch 109/180
804/804 [==============================] - 14s 18ms/step - loss: 0.5432 - accuracy: 0.7350
Epoch 110/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5430 - accuracy: 0.7350
Epoch 111/180
804/804 [==============================] - 13s 16ms/step - loss: 0.5428 - accuracy: 0.7347
Epoch 112/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5432 - accuracy: 0.7348
Epoch 113/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5426 - accuracy: 0.7345
Epoch 114/180
804/804 [==============================] - 13s 16ms/step - loss: 0.5429 - accuracy: 0.7344
Epoch 115/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5431 - accuracy: 0.7346
Epoch 116/180
804/804 [==============================] - 14s 17ms/step - loss: 0.5432 - accuracy: 0.7349
Epoch 117/180
804/804 [==============================] - 15s 19ms/step - loss: 0.5432 - accuracy: 0.7352
Epoch 118/180
804/804 [==============================] - 14s 17ms/step - loss: 0.6045 - accuracy: 0.7339
Epoch 119/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5431 - accuracy: 0.7345
Epoch 120/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5421 - accuracy: 0.7348
Epoch 121/180
804/804 [==============================] - 14s 18ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 122/180
804/804 [==============================] - 13s 17ms/step - loss: 0.5426 - accuracy: 0.7353
Epoch 123/180
804/804 [==============================] - 15s 18ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 124/180
804/804 [==============================] - 15s 19ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 125/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5429 - accuracy: 0.7352
Epoch 126/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5426 - accuracy: 0.7347
Epoch 127/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5426 - accuracy: 0.7347
Epoch 128/180
804/804 [==============================] - 13s 17ms/step - loss: 0.5425 - accuracy: 0.7349
Epoch 129/180
804/804 [==============================] - 13s 16ms/step - loss: 0.5428 - accuracy: 0.7345
Epoch 130/180
804/804 [==============================] - 12s 14ms/step - loss: 0.5443 - accuracy: 0.7352
Epoch 131/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 132/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5428 - accuracy: 0.7350
Epoch 133/180
804/804 [==============================] - 13s 16ms/step - loss: 0.5428 - accuracy: 0.7348
Epoch 134/180
804/804 [==============================] - 14s 17ms/step - loss: 0.5429 - accuracy: 0.7343
Epoch 135/180
804/804 [==============================] - 10s 12ms/step - loss: 0.5428 - accuracy: 0.7351
Epoch 136/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5432 - accuracy: 0.7343
Epoch 137/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5434 - accuracy: 0.7351
Epoch 138/180
804/804 [==============================] - 13s 16ms/step - loss: 0.5433 - accuracy: 0.7351
Epoch 139/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5425 - accuracy: 0.7351
Epoch 140/180
804/804 [==============================] - 10s 13ms/step - loss: 0.5424 - accuracy: 0.7352
Epoch 141/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5426 - accuracy: 0.7350
Epoch 142/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5425 - accuracy: 0.7354
Epoch 143/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5423 - accuracy: 0.7353
Epoch 144/180
804/804 [==============================] - 15s 18ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 145/180
804/804 [==============================] - 14s 17ms/step - loss: 0.5424 - accuracy: 0.7353
Epoch 146/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5422 - accuracy: 0.7356
Epoch 147/180
804/804 [==============================] - 14s 17ms/step - loss: 0.5426 - accuracy: 0.7350
Epoch 148/180
804/804 [==============================] - 14s 17ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 149/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5427 - accuracy: 0.7348
Epoch 150/180
804/804 [==============================] - 11s 14ms/step - loss: 0.5436 - accuracy: 0.7350
Epoch 151/180
804/804 [==============================] - 15s 18ms/step - loss: 0.5425 - accuracy: 0.7352
Epoch 152/180
804/804 [==============================] - 14s 17ms/step - loss: 0.5443 - accuracy: 0.7351
Epoch 153/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5459 - accuracy: 0.7350
Epoch 154/180
804/804 [==============================] - 15s 18ms/step - loss: 0.5420 - accuracy: 0.7345
Epoch 155/180
804/804 [==============================] - 12s 16ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 156/180
804/804 [==============================] - 13s 17ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 157/180
804/804 [==============================] - 14s 17ms/step - loss: 0.5425 - accuracy: 0.7353
Epoch 158/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 159/180
804/804 [==============================] - 13s 17ms/step - loss: 0.5428 - accuracy: 0.7352
Epoch 160/180
804/804 [==============================] - 14s 18ms/step - loss: 0.5419 - accuracy: 0.7351
Epoch 161/180
804/804 [==============================] - 15s 19ms/step - loss: 0.5420 - accuracy: 0.7350
Epoch 162/180
804/804 [==============================] - 15s 19ms/step - loss: 0.5434 - accuracy: 0.7350
Epoch 163/180
804/804 [==============================] - 14s 17ms/step - loss: 0.5427 - accuracy: 0.7350
Epoch 164/180
804/804 [==============================] - 15s 18ms/step - loss: 0.5446 - accuracy: 0.7351
Epoch 165/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5424 - accuracy: 0.7352
Epoch 166/180
804/804 [==============================] - 14s 18ms/step - loss: 0.5424 - accuracy: 0.7352
Epoch 167/180
804/804 [==============================] - 17s 21ms/step - loss: 0.5420 - accuracy: 0.7352
Epoch 168/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5430 - accuracy: 0.7353
Epoch 169/180
804/804 [==============================] - 13s 16ms/step - loss: 0.5425 - accuracy: 0.7350
Epoch 170/180
804/804 [==============================] - 16s 20ms/step - loss: 0.5423 - accuracy: 0.7355
Epoch 171/180
804/804 [==============================] - 12s 14ms/step - loss: 0.5435 - accuracy: 0.7352
Epoch 172/180
804/804 [==============================] - 10s 13ms/step - loss: 0.5435 - accuracy: 0.7351
Epoch 173/180
804/804 [==============================] - 12s 14ms/step - loss: 0.5427 - accuracy: 0.7349
Epoch 174/180
804/804 [==============================] - 15s 18ms/step - loss: 0.5422 - accuracy: 0.7355
Epoch 175/180
804/804 [==============================] - 13s 16ms/step - loss: 0.5422 - accuracy: 0.7351
Epoch 176/180
804/804 [==============================] - 11s 13ms/step - loss: 0.5421 - accuracy: 0.7346
Epoch 177/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5425 - accuracy: 0.7351
Epoch 178/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5431 - accuracy: 0.7350
Epoch 179/180
804/804 [==============================] - 14s 18ms/step - loss: 0.5430 - accuracy: 0.7353
Epoch 180/180
804/804 [==============================] - 12s 15ms/step - loss: 0.5418 - accuracy: 0.7350

In [63]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5960 - accuracy: 0.7368 - 998ms/epoch - 4ms/step
Loss: 0.5960170030593872, Accuracy: 0.7367929816246033

Third Attempt

In [66]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
third_application_df= application_df.drop(columns = ['EIN', 'USE_CASE', 'STATUS'])
third_application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,Association,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Co-operative,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,Association,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Trust,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Trust,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,Association,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,Association,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Association,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,Association,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Co-operative,1M-5M,N,36500179,0

In [67]:
# Determine the number of unique values in each column.
third_application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [68]:
# Look at NAME value counts for binning
type_counts=  third_application_df['NAME'].value_counts()
type_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [69]:
# Choose a cutoff value and create a list of name types to be replaced
# use the variable name `name_types_to_replace`
name_types_to_replace = list(type_counts.iloc[8:].index)
cutoff_value = 7889
# Replace in dataframe
for app in name_types_to_replace:
    third_application_df['NAME'] = third_application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
third_application_df['NAME'].value_counts()

Other                                              29662
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
PTA TEXAS CONGRESS                                   368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC        331
ALPHA PHI SIGMA                                      313
Name: NAME, dtype: int64

In [70]:
# Look at APPLICATION_TYPE value counts for binning
type_counts=  third_application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [71]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
applications_types_to_replace = list(type_counts.iloc[8:].index)
cutoff_value = 8474
# Replace in dataframe
for app in applications_types_to_replace:
    third_application_df['APPLICATION_TYPE'] = third_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
third_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [72]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(third_application_df)
dummies.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOPS CLUB INC,NAME_UNITED STATES BOWLING CONGRESS INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [73]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [74]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [75]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 909
hidden_nodes_layer2 = 398

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 909)               101808

 dense_10 (Dense)            (None, 398)               362180

 dense_11 (Dense)            (None, 1)                 399

=================================================================
Total params: 464387 (1.77 MB)
Trainable params: 464387 (1.77 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [76]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [77]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5381 - accuracy: 0.7339
Epoch 2/100
804/804 [==============================] - 12s 14ms/step - loss: 0.5207 - accuracy: 0.7442
Epoch 3/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5180 - accuracy: 0.7458
Epoch 4/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5166 - accuracy: 0.7465
Epoch 5/100
804/804 [==============================] - 12s 16ms/step - loss: 0.5149 - accuracy: 0.7469
Epoch 6/100
804/804 [==============================] - 13s 17ms/step - loss: 0.5141 - accuracy: 0.7481
Epoch 7/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5135 - accuracy: 0.7489
Epoch 8/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5131 - accuracy: 0.7482
Epoch 9/100
804/804 [==============================] - 15s 18ms/step - loss: 0.5118 - accuracy: 0.7486
Epoch 10/100
804/804 [==============================] - 15s 18ms/step - loss: 0.5114 - accuracy: 0.7491
Epoch 11/100
804/804 [==============================] - 14s 18ms/step - loss: 0.5109 - accuracy: 0.7496
Epoch 12/100
804/804 [==============================] - 14s 18ms/step - loss: 0.5102 - accuracy: 0.7498
Epoch 13/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5099 - accuracy: 0.7497
Epoch 14/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5094 - accuracy: 0.7502
Epoch 15/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5099 - accuracy: 0.7509
Epoch 16/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5087 - accuracy: 0.7507
Epoch 17/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5087 - accuracy: 0.7511
Epoch 18/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5085 - accuracy: 0.7518
Epoch 19/100
804/804 [==============================] - 11s 13ms/step - loss: 0.5075 - accuracy: 0.7510
Epoch 20/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5079 - accuracy: 0.7516
Epoch 21/100
804/804 [==============================] - 13s 17ms/step - loss: 0.5071 - accuracy: 0.7511
Epoch 22/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5066 - accuracy: 0.7526
Epoch 23/100
804/804 [==============================] - 13s 17ms/step - loss: 0.5074 - accuracy: 0.7523
Epoch 24/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5061 - accuracy: 0.7528
Epoch 25/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5066 - accuracy: 0.7528
Epoch 26/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5062 - accuracy: 0.7519
Epoch 27/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5064 - accuracy: 0.7521
Epoch 28/100
804/804 [==============================] - 10s 13ms/step - loss: 0.5058 - accuracy: 0.7529
Epoch 29/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5052 - accuracy: 0.7530
Epoch 30/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5053 - accuracy: 0.7522
Epoch 31/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5047 - accuracy: 0.7519
Epoch 32/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5053 - accuracy: 0.7530
Epoch 33/100
804/804 [==============================] - 12s 14ms/step - loss: 0.5055 - accuracy: 0.7521
Epoch 34/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5048 - accuracy: 0.7528
Epoch 35/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5043 - accuracy: 0.7535
Epoch 36/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5041 - accuracy: 0.7529
Epoch 37/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5043 - accuracy: 0.7531
Epoch 38/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5075 - accuracy: 0.7536
Epoch 39/100
804/804 [==============================] - 12s 16ms/step - loss: 0.5034 - accuracy: 0.7537
Epoch 40/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5038 - accuracy: 0.7528
Epoch 41/100
804/804 [==============================] - 13s 17ms/step - loss: 0.5042 - accuracy: 0.7537
Epoch 42/100
804/804 [==============================] - 13s 17ms/step - loss: 0.5027 - accuracy: 0.7537
Epoch 43/100
804/804 [==============================] - 12s 16ms/step - loss: 0.5028 - accuracy: 0.7524
Epoch 44/100
804/804 [==============================] - 12s 14ms/step - loss: 0.5031 - accuracy: 0.7534
Epoch 45/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5029 - accuracy: 0.7533
Epoch 46/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5231 - accuracy: 0.7521
Epoch 47/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5029 - accuracy: 0.7538
Epoch 48/100
804/804 [==============================] - 10s 13ms/step - loss: 0.5027 - accuracy: 0.7530
Epoch 49/100
804/804 [==============================] - 10s 13ms/step - loss: 0.5024 - accuracy: 0.7536
Epoch 50/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5021 - accuracy: 0.7531
Epoch 51/100
804/804 [==============================] - 14s 17ms/step - loss: 0.5018 - accuracy: 0.7530
Epoch 52/100
804/804 [==============================] - 14s 17ms/step - loss: 0.5023 - accuracy: 0.7550
Epoch 53/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5024 - accuracy: 0.7540
Epoch 54/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5015 - accuracy: 0.7534
Epoch 55/100
804/804 [==============================] - 11s 13ms/step - loss: 0.5023 - accuracy: 0.7530
Epoch 56/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5363 - accuracy: 0.7527
Epoch 57/100
804/804 [==============================] - 14s 18ms/step - loss: 0.5032 - accuracy: 0.7536
Epoch 58/100
804/804 [==============================] - 14s 17ms/step - loss: 0.5009 - accuracy: 0.7542
Epoch 59/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5009 - accuracy: 0.7538
Epoch 60/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5011 - accuracy: 0.7536
Epoch 61/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5008 - accuracy: 0.7537
Epoch 62/100
804/804 [==============================] - 14s 17ms/step - loss: 0.5010 - accuracy: 0.7536
Epoch 63/100
804/804 [==============================] - 14s 18ms/step - loss: 0.5013 - accuracy: 0.7538
Epoch 64/100
804/804 [==============================] - 15s 19ms/step - loss: 0.5012 - accuracy: 0.7536
Epoch 65/100
804/804 [==============================] - 14s 17ms/step - loss: 0.5007 - accuracy: 0.7533
Epoch 66/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5013 - accuracy: 0.7529
Epoch 67/100
804/804 [==============================] - 12s 14ms/step - loss: 0.5013 - accuracy: 0.7540
Epoch 68/100
804/804 [==============================] - 11s 14ms/step - loss: 0.5010 - accuracy: 0.7533
Epoch 69/100
804/804 [==============================] - 14s 17ms/step - loss: 0.5329 - accuracy: 0.7535
Epoch 70/100
804/804 [==============================] - 12s 14ms/step - loss: 0.5005 - accuracy: 0.7534
Epoch 71/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5003 - accuracy: 0.7533
Epoch 72/100
804/804 [==============================] - 14s 17ms/step - loss: 0.4999 - accuracy: 0.7540
Epoch 73/100
804/804 [==============================] - 10s 13ms/step - loss: 0.4995 - accuracy: 0.7541
Epoch 74/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5005 - accuracy: 0.7536
Epoch 75/100
804/804 [==============================] - 16s 19ms/step - loss: 0.5003 - accuracy: 0.7544
Epoch 76/100
804/804 [==============================] - 11s 14ms/step - loss: 0.4998 - accuracy: 0.7549
Epoch 77/100
804/804 [==============================] - 10s 12ms/step - loss: 0.4998 - accuracy: 0.7541
Epoch 78/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5008 - accuracy: 0.7529
Epoch 79/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5004 - accuracy: 0.7538
Epoch 80/100
804/804 [==============================] - 15s 19ms/step - loss: 0.5027 - accuracy: 0.7532
Epoch 81/100
804/804 [==============================] - 15s 18ms/step - loss: 0.4987 - accuracy: 0.7541
Epoch 82/100
804/804 [==============================] - 15s 19ms/step - loss: 0.4999 - accuracy: 0.7541
Epoch 83/100
804/804 [==============================] - 14s 18ms/step - loss: 0.4998 - accuracy: 0.7535
Epoch 84/100
804/804 [==============================] - 12s 14ms/step - loss: 0.5009 - accuracy: 0.7542
Epoch 85/100
804/804 [==============================] - 13s 16ms/step - loss: 0.4994 - accuracy: 0.7538
Epoch 86/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5001 - accuracy: 0.7543
Epoch 87/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5010 - accuracy: 0.7538
Epoch 88/100
804/804 [==============================] - 13s 16ms/step - loss: 0.4994 - accuracy: 0.7545
Epoch 89/100
804/804 [==============================] - 12s 15ms/step - loss: 0.4992 - accuracy: 0.7547
Epoch 90/100
804/804 [==============================] - 13s 16ms/step - loss: 0.4997 - accuracy: 0.7544
Epoch 91/100
804/804 [==============================] - 15s 18ms/step - loss: 0.4993 - accuracy: 0.7537
Epoch 92/100
804/804 [==============================] - 13s 17ms/step - loss: 0.4996 - accuracy: 0.7540
Epoch 93/100
804/804 [==============================] - 12s 15ms/step - loss: 0.4994 - accuracy: 0.7545
Epoch 94/100
804/804 [==============================] - 14s 18ms/step - loss: 0.5004 - accuracy: 0.7546
Epoch 95/100
804/804 [==============================] - 12s 15ms/step - loss: 0.5004 - accuracy: 0.7550
Epoch 96/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5022 - accuracy: 0.7536
Epoch 97/100
804/804 [==============================] - 13s 17ms/step - loss: 0.5982 - accuracy: 0.7540
Epoch 98/100
804/804 [==============================] - 13s 16ms/step - loss: 0.4992 - accuracy: 0.7545
Epoch 99/100
804/804 [==============================] - 11s 14ms/step - loss: 0.4980 - accuracy: 0.7544
Epoch 100/100
804/804 [==============================] - 12s 15ms/step - loss: 0.4985 - accuracy: 0.7550

In [78]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.9633 - accuracy: 0.7366 - 2s/epoch - 7ms/step
Loss: 0.9633270502090454, Accuracy: 0.7365597486495972

In [79]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

/Applications/anaconda3/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(